<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="navbar">
        <a href="/">Главная</a>
        <a href="/autobus">О нас</a>
        <a href="/forum">Контакты</a>
    </div>

    <div class="content">
        <h1>О нас</h1>
        <p>Здесь будет информация о компании или проекте.</p>
    </div>

</body>
</html>
